.toolbar1 {
    background-color: black;
    color: aliceblue;
    font-size: 14px;
    display: flex;
    flex-wrap: wrap;//permite ocupar 100% de la pag.
    height: auto;
}
.toolbar2 {
    font-size: 15px;
    display: flex;
    flex-wrap: wrap;
    height: auto;
}
.menu button:hover {
    transform: translateY(2px);
    /*desplaza hacia abajo 18px*/
    background-color: rgb(0, 0, 0);
    /*color al posicionarme*/
    color: aliceblue;
}

.example-spacer {
    flex: 1 1 auto;
}
.logo {
    max-width: 10rem;
    height: auto;
}
.menu-spacer {
    flex: 1 1 auto;
}

.mat-raised-button {
    margin-left: 5px;
}
