<div class="container-fluig">
    <div class="row justify-content-md-center">
        <h1 class="title col-md-auto display-1">Preguntas Frecuentes</h1>
    </div>
   
    <div class="container">
       <mat-accordion class="accordion">
        <mat-expansion-panel class="panel">
            <mat-expansion-panel-header>
                <mat-panel-title  class="panel">
                    ¿Que necesito para tomar estos cursos?
                </mat-panel-title>
            </mat-expansion-panel-header>
            <p>Ser mayor de edad</p>
            <p>Carnet de identidad vigente</p>
        </mat-expansion-panel>
        <mat-expansion-panel class="panel">
            <mat-expansion-panel-header>
                <mat-panel-title class="panel">
                    ¿Puedo tomar los examenes por internet?
                </mat-panel-title>
            </mat-expansion-panel-header>
            <p>Los exámenes que puedes tomar por internet son solo las pruebas teoricas,
                practicas de manejo son totalmente presenciales.
            </p>
        </mat-expansion-panel>
        <mat-expansion-panel class="panel">
            <mat-expansion-panel-header>
                <mat-panel-title class="panel">
                    ¿Cuanto duran  las clases?
                </mat-panel-title>
            </mat-expansion-panel-header>
            <p>La cantidad de clases dependerán del plan adquirido por el alumno, igual el tiempo que se estima es de alrededor de 2 a 5 semanas
            </p>
        </mat-expansion-panel>
        <mat-expansion-panel class="panel">
            <mat-expansion-panel-header>
                <mat-panel-title class="panel">
                    ¿Puedo ir en horario vespertino?
                </mat-panel-title>
            </mat-expansion-panel-header>
            <p>Si, siempre y cuando este este en el horario de atención al publico en general
            </p>
        </mat-expansion-panel>
        <mat-expansion-panel class="panel">
            <mat-expansion-panel-header>
                <mat-panel-title class="panel">
                    ¿Cuanto vale el examen en la municialidad?
                </mat-panel-title>
            </mat-expansion-panel-header>
            <p>Esto va a depender de la municipalidad donde el alumno tramite. Debe consultar en la minicipalidad de su preferencia
            </p>
        </mat-expansion-panel>
    </mat-accordion> 
    </div>

</div>