<div class="container-fluig">
    <mat-card class="card2">
        <mat-card-title>
          <h1 class="title">Noticias</h1>
        </mat-card-title>
      </mat-card>
    <div class="container">
        <mat-card class="card">
            <mat-card-header>
                <div mat-card-avatar class="header-image"></div>
                <mat-card-title class="title-card">LAS NUEVAS SEÑALES DE TRÁNSITO EN CHILE</mat-card-title>
            </mat-card-header>
            <img mat-card-image src="../../../assets/SENALES-TRANSITO-1024x576-1-845x576.jpg"
                alt="Photo of a Shiba Inu">
            <mat-card-content>
                <p>
                    A partir de este miércoles 10 de marzo, comenzarán a regir 16 nuevas señaléticas en las calles del país. ¿Qué indican? El subsecretario de Transporte, José Luis Domínguez y la secretaria ejecutiva de la Comisión Nacional de Seguridad…
                </p>
            </mat-card-content>
            <mat-card-actions>
              
                <button mat-raised-button color="primary">LIKE</button>
                <span class="example-spacer"></span>
                <button mat-raised-button>SHARE</button>
               
            </mat-card-actions>
        </mat-card>
        <mat-card class="card">
            <mat-card-header>
                <div mat-card-avatar class="header-image"></div>
                <mat-card-title class="title-card">$ 8 MILLONES DE SUBSIDIO PARA CAMBIARSE A UN AUTO ELÉCTRICO EN CHILE</mat-card-title>
               
            </mat-card-header>
            <img mat-card-image src="../../../assets/02-900x600-1.jpg"
                alt="Photo of a Shiba Inu">
            <mat-card-content>
                <p>
                    Gobierno Regional destinará más de $1.200 millones para la renovación de taxis colectivos por un auto eléctrico en Santiago.   El proceso de electromovilidad no se detiene en Chile. Al crecimiento del parque de autos eléctricos y…
                </p>
            </mat-card-content>
            <mat-card-actions>
                <button mat-raised-button color="primary">LIKE</button>
                <button mat-raised-button>SHARE</button>
            </mat-card-actions>
        </mat-card>
        <mat-card class="card">
            <mat-card-header>
                <div mat-card-avatar class="header-image"></div>
                <mat-card-title class="title-card">¿PARA QUÉ SIRVE EL SEGURO OBLIGATORIO? TODO SOBRE EL SOAP</mat-card-title>
            </mat-card-header>
            <img mat-card-image src="../../../assets/02-900x600-1.jpg"
                alt="Photo of a Shiba Inu">
            <mat-card-content>
                <p>
                    El Seguro Obligatorio de Accidentes Personales, conocido popularmente por sus siglas SOAP, es exigido por ley desde 1986 y lo deben contratar anualmente los propietarios de un vehículo motorizado, remolque u otro tipo de carro. Es un requisito…
                </p>
            </mat-card-content>
            <mat-card-actions>
                <button mat-raised-button color="primary">LIKE</button>
                <button mat-raised-button>SHARE</button>
            </mat-card-actions>
        </mat-card>
    </div>
</div>