.carousel-item {
  height: 32rem;
  background: rgb(4, 35, 82);
  color: rgb(255, 255, 255);
  position: relative;
}
.container {
  position: absolute;
  bottom: 0;
  left: 0%;
  right: 0;
  padding-bottom: 50px;
}
.overlay-image {
  position: absolute;
  bottom: 0;
  left: 0%;
  right: 0;
  top: 0;
  background-position: center;
  background-size: cover;
  opacity: 0.8;
}
.card2 {
  display: flex;
  flex-wrap: wrap; /*permite ocupar toda la pantalla*/
  text-align: center;
  justify-content: center;
  position: relative;
  box-shadow: 2px 2px 5px #999;
  margin: 2rem;
  .title {
    font-size: xx-large;
    font-weight: bold;
  }
}
.card-group {
  margin: 2rem;
  gap: 20px;
  height: auto;
  .card {
    height: auto;
    display: flex;
    flex-wrap: wrap; /*permite ocupar toda la pantalla*/
    text-align: center;
    box-shadow: 2px 2px 5px #999;
    .card-img-top {
      height: auto;
      width: 70px;
      height: 70px;
      margin: 10px auto;
      display: block;
    }
    .card-body{
      height: auto;
      .card-title{
        height: auto;
        font-weight: bold;
        font-size: 17px;
      }
    }
  }
}
