<!--myCarousel ok-->
<div id="myCarousel" class="carousel slide carousel-fade" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true"
      aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
    <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="3" aria-label="Slide 4"></button>
  </div>

  <div class="carousel-inner">
    <div class="carousel-item active" data-interval="0">
      <div class="overlay-image" style="background-image:url(../../assets/slider-mujeres-al-volante.png);"></div>
      <div class="container">
        <div class="carousel-caption text-start">
          <h1>Escuela de Conductores San Jorge</h1>
          <p>Mas información</p>
          <p><a mat-raised-button color="primary" [routerLink]="['/products']">Acceso Alumnos</a></p>
        </div>
      </div>
    </div>
    <div class="carousel-item" data-interval="0">
      <div class="overlay-image" style="background-image:url(../../assets/sliderequipos.png);"></div>
      <div class="container">
        <div class="carousel-caption">
          <h1>Equipos de alta tecnologia</h1>
          <p>Realza tu prueba en nuestros autos</p>
        </div>
      </div>
    </div>
    <div class="carousel-item" data-interval="0">
      <div class="overlay-image" style="background-image:url(../../assets/sliderpersonal.png);"></div>
      <div class="container">
        <div class="carousel-caption text-end">
          <h1>Unete, se parte de nosotros</h1>
          <p>La mejor atención del mercado</p>
          <p><a mat-raised-button [routerLink]="['/register']">Unirme</a></p>
        </div>
      </div>
    </div>
    <div class="carousel-item" data-interval="0">
      <div class="overlay-image" style="background-image:url(../../assets/slidersomos.png);"></div>
      <div class="container">
        <div class="carousel-caption text-end">
          <h1>Unete, se parte de nosotros</h1>
          <p>La mejor atención del mercado</p>
          <p><a mat-raised-button color="accent" [routerLink]="['/register']">Unirme</a></p>
        </div>
      </div>
    </div>
  </div>

  <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">anterior</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">siguiente</span>
  </button>
</div>

<!--myCard-->
<mat-card class="card2">
  <mat-card-title>
    <h1 class="title">EN NUESTRA ESCUELA ENCONTRARAS</h1>
  </mat-card-title>
</mat-card>
<!--cards-->
<div class="card-group">
  <div class="card">
    <img src="../../assets/horario.png" class="card-img-top">
    <div class="card-body">
      <h5 class="card-title">MÁS TIEMPOS DE PRACTICA</h5>
      <p class="card-text">Somos una Escuela de conducción, que cuenta con el mejor personal capacitado.</p>
    </div>
  </div>
  <div class="card">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
  <div class="card">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
  <div class="card">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
</div>

