<div class="container-fluig">
    <h1 class="title">NUESTROS ARANCELES DE INSCRIPCIÓN.</h1>

    <div class="container">
        <mat-card class="card">
            <mat-card-title class="title-card">AVANZADO Individual</mat-card-title>
            <mat-card-content class="content">
                <mat-divider></mat-divider>
                <p>Teoría (SISTEMA AUTO – ESTUDIO).</p>
                <mat-divider></mat-divider>
                <p>Clases Teóricas online.</p>
                <mat-divider></mat-divider>
                <p>6 Clases prácticas de Manejo Individual.</p>
                <mat-divider></mat-divider>
                <p>Duración de cada Clase 45 minutos.</p>
                <mat-divider></mat-divider>
                <p>Horario Flexible</p>
                <mat-divider></mat-divider>
                <p>Lunes a Sábado</p>
                <mat-divider></mat-divider>
                <p>Sesión de Psicotécnico</p>
                <mat-divider></mat-divider>
                <p>7 test online o presencial</p>
                <mat-divider></mat-divider>
                <p>$120.000 al contado</p>
                <mat-divider></mat-divider>
                <p>Duración del Curso:
                    3 semanas</p>
                <mat-divider></mat-divider>
            </mat-card-content>
            <mat-card-actions>
                <button mat-raised-button color="primary">Comprar</button>
            </mat-card-actions>
        </mat-card>

        <mat-card class="card">
            <mat-card-title class="title-card">PREMIUM FLEX
                Individual</mat-card-title>
            <mat-card-content class="content">
                <mat-divider></mat-divider>
                <p>Teoría (SISTEMA AUTO – ESTUDIO).</p>
                <mat-divider></mat-divider>
                <p>Clases Teóricas online.</p>
                <mat-divider></mat-divider>
                <p>10 Clases prácticas de Manejo Individual.</p>
                <mat-divider></mat-divider>
                <p>Duración de cada Clase 45 minutos.</p>
                <mat-divider></mat-divider>
                <p>Horario Flexible</p>
                <mat-divider></mat-divider>
                <p>Lunes a Sábado</p>
                <mat-divider></mat-divider>
                <p>Sesión de Psicotécnico</p>
                <mat-divider></mat-divider>
                <p>7 test online o presencial</p>
                <mat-divider></mat-divider>
                <p>$139.990 al contado</p>
                <mat-divider></mat-divider>
                <p>Duración del Curso:
                    4 Semanas</p>
                <mat-divider></mat-divider>
            </mat-card-content>
            <mat-card-actions>
                <button mat-raised-button color="primary">Comprar</button>
            </mat-card-actions>
        </mat-card>

        <mat-card class="card">
            <mat-card-title class="title-card">PREMIUM FLEX
                Individual</mat-card-title>
            <mat-card-content class="content">
                <mat-divider></mat-divider>
                <p>Teoría (SISTEMA AUTO – ESTUDIO).</p>
                <mat-divider></mat-divider>
                <p>Clases Teóricas online.</p>
                <mat-divider></mat-divider>
                <p>8 Clases prácticas de Manejo Individual.</p>
                <mat-divider></mat-divider>
                <p>Duración de cada Clase 45 minutos.</p>
                <mat-divider></mat-divider>
                <p>Horario Flexible</p>
                <mat-divider></mat-divider>
                <p>Lunes a Sábado</p>
                <mat-divider></mat-divider>
                <p>Sesión de Psicotécnico</p>
                <mat-divider></mat-divider>
                <p>7 test online o presencial</p>
                <mat-divider></mat-divider>
                <p>$155.000 al contado</p>
                <mat-divider></mat-divider>
                <p>Duración del Curso:
                    3 semanas</p>
                <mat-divider></mat-divider>
            </mat-card-content>
            <mat-card-actions>
                <button mat-raised-button color="primary">Comprar</button>
            </mat-card-actions>
        </mat-card>

        <mat-card class="card">
            <mat-card-title class="title-card">PREMIUM FLEX
                Individual</mat-card-title>
            <mat-card-content class="content">
                <mat-divider></mat-divider>
                <p>Teoría (SISTEMA AUTO – ESTUDIO).</p>
                <mat-divider></mat-divider>
                <p>Clases Teóricas online.</p>
                <mat-divider></mat-divider>
                <p>10 Clases prácticas de Manejo Individual.</p>
                <mat-divider></mat-divider>
                <p>Duración de cada Clase 45 minutos.</p>
                <mat-divider></mat-divider>
                <p>Horario Flexible</p>
                <mat-divider></mat-divider>
                <p>Lunes a Sábado</p>
                <mat-divider></mat-divider>
                <p>Sesión de Psicotécnico</p>
                <mat-divider></mat-divider>
                <p>7 test online o presencial</p>
                <mat-divider></mat-divider>
                <p>$139.990 al contado</p>
                <mat-divider></mat-divider>
                <p>Duración del Curso:
                    3 semanas</p>
                <mat-divider></mat-divider>
            </mat-card-content>
            <mat-card-actions>
                <button mat-raised-button color="primary">Comprar</button>
            </mat-card-actions>
        </mat-card>
    </div>
</div>